*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

app/src/main/res/layout/app_bar_main.xml

app/src/main/res/layout/activity_main.xml

app/src/main/java/com/appynew/activities/MainActivity.java
